spring:
  application:
    name: backend
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://weindb.c9acki6gcwpa.ap-southeast-2.rds.amazonaws.com/teampr
    username: musicart
    password: "!good6617"
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

upload-dir: /home/wein/webapps/uploads/